// @import 'colors';
@import 'helpers';
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Kalam:700');
@import url('https://fonts.googleapis.com/css?family=Iceberg');
// Import the initial variables

// @import "../../../node_modules/bulma/sass/utilities/initial-variables";
// @import "../../../node_modules/bulma/sass/utilities/functions";
@import "../../../node_modules/bulmaswatch/cyborg/_variables.scss";
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulmaswatch/cyborg/_overrides.scss";

//
// -------MEDIA QUERIES---------------------------------------
//
@media screen and (min-width: 0px) and (max-width: 700px) {
  #image-logo { display: block; padding-left: 10px; }
  #typeface-logo { display: none; }
  #login-prompt { width: auto; }
  .hide-if-small { display: none }
  #navbar-wrapper { padding-top: 10px; }
  .profile-modal { width: 90%; }
  .modal-profile-view { height: 500px; overflow: auto; }
}

@media screen and (min-width: 701px) {
  #image-logo { display: none; }
  #typeface-logo { display: block; }
  #login-prompt { width: 30%; }
  .profile-modal { width: 60%; }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  #splash-unicorn { width: 50%; }
}

@media screen and (min-width: 600px) {
  #splash-unicorn { width: 20%; }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .login-title { float: left; margin-bottom: 20px; }
}

@media screen and (min-height: 0px) and (max-height: 750px) {
  .chat-messages {
    height: 400px;
    overflow: auto;
  }
}

@media screen and (min-height: 750px) {
  .chat-messages {
    height: 500px;
    overflow: auto;
  }
}

// -----------------------------------------------------------

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
  opacity: .7;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
  opacity: .7;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
  opacity: .7;
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: white !important;
  opacity: .7;
}

#typeface-logo {
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 40px;
  padding: 5px 0px 0px 10px;
}

html {
  height: 100%;
}

article {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

nav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  background-color: rgba(33,33,33,.3) !important;
}

div.notification.is-danger {
  padding: 5px;
  margin: 0px;
}


figure.image {
  padding: none;
}

svg[class^="MuiSvgIcon-"] {
  z-index: 0;
}

div[class^="MuiChip-"] {
  font-size: 16px;
  background-color: rgba(30, 30, 30, .8);
}

div[class^="MuiBackdrop-"] {
  background-color: rgba(0, 0, 0, .2);
}

ul {
  background-color: rgba(10, 10, 10, .8);
}

#site-body p.title {
  margin-bottom: 10px;
}

#site-body {
  height: 800px;
  margin: 10px;
}

#send-invites {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

#arena-lable {
  text-align: center;
}

#create-room-error {
  color: white;
}

#login-prompt {
  margin: auto;
  padding: 10px;
  text-align: center;
  margin-top: 80px;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(66, 66, 66, 0);
}

#signup-or-container {
  position: relative
}

#signup-or {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#google-login-card {
  width: 238px;
}

#google-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#google-login-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#invite-users-footer {
  position: absolute;
  bottom: 30px;
  width: 88%;
}

#new-room-header {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
}

#users-for-new-room-header {
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
}

#navbar-avatar {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

#chat-window{
  background-color: $grey-light;
}

div.columns {
  margin: 15px;
}

.tile.is-child.notification.combatants {
  margin-bottom: 10px !important;
}

.google-button-container {
  text-align: center;
}

.modal-card-foot .button:not(:last-child) {
  margin: auto;
  margin-right: 10px;
}

.section.login-error {
  background-color: rgba(255, 17, 0, .6);
  padding: 5px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
}

.subtitle {
  color: white;
}

.timer {
  font-family: 'Iceberg', sans-serif;
}

.search-result {
  border-bottom: 3px solid white;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.combatant {
  border-bottom: 3px solid $blue;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.user-search-button {
  float: right;
}

.search-result p.user-search-email {
  margin-bottom: 0px;
}

.auth-buttons {
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 20px !important;
  margin-top: 10px !important;
}

.stats-tile {
  height: 200px;
  width: 200px;
  padding: 40px 20px 20px 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

.stats-number {
  padding-top: 40px;
  font-size: 50px;
}

[role='combobox'] {
  height: 40px;
}

// USER PROFILE PHOTO UPLOAD --------------------------------------------------
.profile-photo-upload-container {
  position: relative;
  margin: 30px;
  height: 200px;
  width: 200px;
}

.profile-photo-upload-image {
  opacity: 1;
  display: block;
  border-radius: 50%;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.profile-photo-upload-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile-photo-upload-container:hover .profile-photo-upload-image {
  opacity: 0.3;
}

.profile-photo-upload-container:hover .profile-photo-upload-middle {
  opacity: 1;
}

.profile-photo-upload-text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#photo-upload-input-proxy {
  cursor: pointer;
}

.user-profile-edit-area {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  flex: 1;
}

.other-user-profile-edit-area {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 20px 20px;
  flex: 1;
}

.user-profile-edit-area > * {
  margin-bottom: 10px;
}


/* GOOGLE LOGIN ICON */
//variables
$basic-dark-color: #212121;
$basic-light-color: #fff;
$fb-color: #3b5998;
$tw-color: #00aced;
$g-plus: #dd4b39;
$dribbble: #ea4c89;
$pinterest: #cb2027;
$insta: #bc2a8d;
$in: #007bb6;
$vimeo: #1ab7ea;
$border-radius: 10px;
$font-size: 25px;
/*common link styles !!!YOU NEED THEM*/

.effect {
  /*display: flex; !!!uncomment this line !!!*/
  a {
    text-decoration: none !important;
    color: $basic-light-color;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    margin-right: 20px;
    font-size: $font-size;
    overflow: hidden;
    position: relative;
    i {
      position: relative;
      z-index: 3;
    }
    &.fb {
      background-color: $fb-color;
    }
    &.tw {
      background-color: $tw-color;
    }
    &.g-plus {
      background-color: $g-plus;
    }
    &.dribbble {
      background-color: $dribbble;
    }
    &.pinterest {
      background-color: $pinterest;
    }
    &.insta {
      background-color: $insta;
    }
    &.in {
      background-color: $in;
    }
    &.vimeo {
      background-color: $vimeo;
    }
  }
}

/* egeon effect */

.effect.egeon {
  a {
    transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;
    i {
      transition: transform 0.2s linear 0s;
    }
    &:hover {
      transform: rotate(-90deg);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      i {
        transform: rotate(90deg);
      }
    }
  }
}

/* END GOOGLE LOGIN ICON */

// Vote Styling
#current-restaurant {
  button {
    margin-right: 10px;
    margin-top: 15px;
  }
}

// ANIMATE DIVIDER
.trans--grow{
  -webkit-transition: width .5s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width .5s  ease-out;
  width : 0%;
}
.grow{
  width:100%;
}